.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
}

.versus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}


.imageContainer {
    height: 20vh;
    width: 80vw;
    max-width: 300px;
    position: relative;
    margin: 20px;
}

.infoCardLeft {
    position: fixed;
    margin: auto;
    top: 10%;
    left: 10%;
    width: 80%;
    max-width: 400px;
    max-height: 80vh;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 12px;
    overflow: scroll;
}

.infoCardRight {
    position: fixed;
    margin: auto;
    top: 10%;
    right: 10%;
    width: 80%;
    max-width: 400px;
    max-height: 80vh;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    font-size: 12px;
    overflow: scroll;
}

.clickable {
    border: 5px solid black;
    padding: 10px;
    box-shadow: black 5px 8px;
    margin: 2px;
    transition-duration: 0.3s;
    flex-grow: 3;
    background-color: rgb(77, 152,145);
}

@keyframes animation-winner-left {
    0% {
        right: 0;
        bottom: 0;
    }
    10% {
        right: 50px;
        bottom: 60px;
    }
    30% {
        right: 50px;
        bottom: 60px;
    }
    32% {
        right: 90px;
        bottom: 60px;
    }
    35% {
        right: -100px;
        bottom: 30px;
    }
    50% {
        right: 50px;
        bottom: 60px;
    }
    55% {
        right: 70px;
        bottom: 70px;
    }
    60% {
        right: 90px;
        bottom: 90px;
    }
    70% {
        right: 250px;
        bottom: 60px;
    }
    75% {
        right: 240px;
        bottom: -10px;
    }
    80% {
        right: 190px;
        bottom: -40px;
    }
    83% {
        right: 90px;
        bottom: -60px;
    }
    85% {
        right: -180px;
        bottom: 30px;
    }
    100% {
        right: 0;
        bottom: 0;
    }
}

@keyframes animation-loser-right {
    0% {
        left: 0;
        bottom: 0;
    }
    10% {
        left: 50px;
        bottom: 60px;
    }
    30% {
        left: 50px;
        bottom: 60px;
    }
    35% {
        left: -80px;
        bottom: 60px;
        transform: rotate(0deg);
    }
    40% {
        left: 50px;
        bottom: 60px;
        transform: rotate(180deg);
    }
    85% {
        left: 50px;
        bottom: 60px;
    }
    100% {
        left: 700px;
        bottom: 500px;
    }
}

@keyframes animation-winner-right {
    0% {
        left: 0;
        bottom: 0;
    }
    10% {
        left: 50px;
        bottom: 60px;
    }
    30% {
        left: 50px;
        bottom: 60px;
    }
    32% {
        left: 90px;
        bottom: 60px;
    }
    35% {
        left: -80px;
        bottom: 30px;
    }
    50% {
        left: 50px;
        bottom: 60px;
    }
    55% {
        left: 70px;
        bottom: 70px;
    }
    60% {
        left: 90px;
        bottom: 90px;
    }
    70% {
        left: 250px;
        bottom: 60px;
    }
    75% {
        left: 240px;
        bottom: -10px;
    }
    80% {
        left: 190px;
        bottom: -40px;
    }
    83% {
        left: 90px;
        bottom: -60px;
    }
    85% {
        left: -180px;
        bottom: 30px;
    }
    100% {
        left: 0;
        bottom: 0;
    }
}

@keyframes animation-loser-left {
    0% {
        right: 0;
        bottom: 0;
    }
    10% {
        right: 50px;
        bottom: 60px;
    }
    30% {
        right: 50px;
        bottom: 60px;
    }
    35% {
        right: -80px;
        bottom: 60px;
        transform: rotate(0deg);
    }
    40% {
        right: 50px;
        bottom: 60px;
        transform: rotate(180deg);
    }
    85% {
        right: 50px;
        bottom: 60px;
    }
    100% {
        right: 700px;
        bottom: 500px;
    }
}

.winnerLeft {
    animation-name: animation-winner-left;
    position: relative;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.winnerRight {
    animation-name: animation-winner-right;
    position: relative;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.loserLeft {
    animation-name: animation-loser-left;
    position: relative;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.loserRight {
    animation-name: animation-loser-right;
    position: relative;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

.clickable:hover {
    cursor: pointer;
    padding: 12px;
    margin: 0;
}

.clickable:active {
    box-shadow: none;
    translate: 5px 3px;
}


.tieButton {
    margin: 12px;
    padding: 2px;
}

.tieButton:hover {
    cursor: pointer;
    padding: 4px;
    margin: 10px;
}

@media (orientation: landscape) {
    .versus {
        flex-direction: row;
    }

    .imageContainer {
        height: 30vh;
        width: 30vw;
        max-width: 300px;
        position: relative;
    }
}